body {
    font-family: monospace;
}

header {
    background-color: #BCBBAE;
    color: #353535;
    font-size: 28px;
    padding-left: 5%;
    padding-right: 5%;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 21%;
    padding: 1%;
}

nav {
    display: inline-block;
    vertical-align: top;
    width: 53%;
    margin-left: 10%;
}

.menuitem {
    margin: 0;
    padding: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    display: inline-block;
    width: 252px;
    text-align: center;
}