body {
    font-family: monospace;
}

header {
     background-color: #BCBBAE;
     color: #353535;;
     font-size: 28px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%; 
    padding: 1%;
      }

nav {
    width: 73%; 
    padding: 1%;
        }

ul {
    width: 50%;
    margin-left: auto;
    list-style: none;
}

ul li {
    display: inline-block;
    width: 25%;
}